CalculatorService/.vs/
CalculatorService/CalculatorService.Data/obj/
CalculatorService/CalculatorService.Data/bin/
CalculatorService/CalculatorService.Server/obj/
CalculatorService/CalculatorService.Server/bin/Debug/
CalculatorService/CalculatorService.Service/obj/
CalculatorService/CalculatorService.Service/bin/
CalculatorService/CalculatorService.Model/obj/
CalculatorService/CalculatorService.Model/bin/
CalculatorService/CalculatorService.Test/obj/
CalculatorService/CalculatorService.Test/bin/
CalculatorService.Client/.vs/
CalculatorService.Client/CalculatorService.Client/obj/
CalculatorService.Client/CalculatorService.Client/bin/
